fieldset {
  border: none;
}

.container {
  text-align: center;
  padding: 14px 0 57px;
}

@media screen and (max-width: 700px) {
  .container {
    padding: 14px 15px 57px;
  }
}
.container .departmant .options-box label,
.container .type-issue label {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #000;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  display: inline-block;
}

.container .departmant .options-box label:hover,
.container .type-issue label:hover {
  box-shadow: inset 300px 0 0 0 #54b3d6;
  color: white;
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 14px 25px 57px;
  }
}
/* type-issue */
.container .type-issue {
  text-align: center;
  margin: auto;
  margin: 26px 21px;
  border-radius: 9px;
  position: relative;
}

.container .type-issue > label {
  width: 120px;
  display: inline-block;
  padding-top: 6px;
}

.container .type-issue > label,
.container .departmant .options-box label {
  cursor: pointer;
  background-color: #d9d9d9;
  font-size: 13px;
  height: 31px;
}

.container .type-issue > label:first-of-type,
.container .departmant .options-box label:first-of-type {
  border-radius: 9px 0 0 9px;
}

.container .type-issue > label:last-of-type,
.container .departmant .options-box label:last-of-type {
  border-radius: 0 9px 9px 0;
  border-left: 1px solid #000;
}

.container .type-issue > input,
.container .departmant .options-box input,
.container .companies .options input {
  display: none;
}

.container .type-issue > input:checked + label,
.container .departmant .options-box > input:checked + label {
  background-color: red;
}

/* departmant */
.container .departmant .title {
  font-size: 20px;
  display: block;
}

.container .departmant .options-box {
  margin: 19px auto 21px;
  max-width: 993px;
  flex-wrap: wrap;
  display: flex;
}

.container .departmant .options-box label {
  padding-top: 7px;
  flex-grow: 1;
}

.container .departmant .options-box > :not(label:first-of-type) {
  border-left: 1px solid #000;
}

/* companies */
.container .companies .title {
  font-size: 20px;
  display: block;
}

.container .companies .options {
  margin: 25px auto 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1081px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  min-height: 34px;
  align-items: center;
  gap: 12px;
}

.container .companies .options label,
.container .staff .options label {
  cursor: pointer;
  display: inline-block;
  transition: 0.5s;
}

.container .companies .options label:hover,
.container .staff .options label:hover {
  scale: 150%;
}

.container .companies .options label {
}

.container .staff .options label:hover {
}

.container .companies .options div > label {
  position: relative;
  display: inline-block;
}

.container .companies .options div > label::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0);
}

.container .companies .options > input:checked + label::after {
}

@media screen and (max-width: 700px) {
  .container .companies .options {
    display: block;
    height: 30px;
    overflow: hidden;
    box-shadow: none;
    border-radius: 5px;
  }

  .container .companies .options .selectBox select {
    width: 100%;
    text-align: center;
    height: 30px;
    border-radius: 5px;
  }

  .container .companies .options label {
    display: block;
  }
}

/* staff */
.container .staff .title {
  display: block;
  font-size: 20px;
  margin-top: 34px;
  margin-bottom: 21px;
}

.container .staff .options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 22px;
}

.container .staff .options input {
  display: none;
}

/* position: relative; */
@media screen and (max-width: 700px) {
  .container .companies,
  .container .staff,
  .container .departmant {
    position: relative;
    margin-bottom: 80px;
  }

  .container .companies .options,
  .container .staff .options,
  .container .departmant .options-box {
    display: block;
    height: 30px;
    overflow: hidden;
    box-shadow: none;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #000000;
    padding-top: 5px;
    position: absolute;
    width: 100%;
  }
  .container .departmant .options-box {
    z-index: 3;
  }

  .container .companies .options {
    z-index: 2;
  }
  .container .staff .options {
    z-index: 1;
  }
  .container .companies .options .click,
  .container .staff .options .click,
  .container .departmant .options-box .click {
    margin-bottom: 8px;
    cursor: pointer;
  }

  .container .companies .options label,
  .container .staff .options label,
  .container .departmant .options-box label {
    display: block;
    height: fit-content;
    background-color: #d9d9d9;
    border: none;
  }
  .container .departmant .options-box > :not(label:first-of-type) {
    border-left: none;
  }
  .container .companies .options label:hover,
  .container .staff .options label:hover,
  .container .departmant .options-box label:hover {
    box-shadow: inherit;
    color: inherit;
  }
  .container .departmant .options-box label:first-of-type {
    border-radius: 0px;
  }
  .container .departmant .options-box label:last-of-type {
    border-radius: 0px;
  }
}

/* date */
.container .date {
  margin: 29px auto 49px;
}
.container .date .title {
  font-size: 20px;
  display: inline-block;
  margin-bottom: 10px;
}

.container .date > .datepick {
  position: relative;
  margin: auto;
  height: 27px;
  width: 344px;
}

.container .date > .datepick input {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
}

.container .date > .datepick .rdtPicker {
  bottom: 27px;
  width: 100%;
  left: 0;
}

/* texts */
.container .texts {
  display: grid;
  grid-template-columns: 15fr repeat(3, 3.75fr) 5.4fr 1fr;
  gap: 0 20px;
  max-width: 1160px;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 41px;
}

.container .texts > div label {
  display: block;
  margin-bottom: 16px;
  padding-top: 1px;
}

.container .texts > div input,
.container .texts > div p,
.container .texts > div textarea {
  display: inline-block;
  width: 100%;
  border: 2px solid #000000;
  min-height: 58px;
  border-radius: 9px;
  font-size: 13px;
  font-weight: 500;
  resize: vertical;
  padding: 5px;
}

.container .texts > div .image {
  height: 58px;
}

.container .texts > div input[type="file"] {
  display: none;
}

@media screen and (max-width: 900px) {
  .container .texts {
    grid-template-columns: 1fr;
  }
  .container .texts > div label {
    margin: 15px auto 5px;
  }
}

/* send */
.container .send {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 57px;
  justify-content: space-evenly;
}

.container .send button {
  height: 48px;
  width: 213px;
  border-radius: 23px;
  background-color: #d9d9d9;
  border: none;
  cursor: pointer;
}
